<%-include('./partials/header')%>

<header>
    <h1> WELCOME TO LOCALE</h1>
    <p class="description"> Search for Geographical Information and MetadData of NIGERIA</p>
</header>

<%-include('./partials/footer')%>
